<!DOCTYPE html>
<html>

<head>

    <title>Contact</title>

   {% load static %}
   <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>

    <nav>
        <a href="/">Home</a>
        <a href="/projects/">Projects</a>
        <a href="/dashboard/">Dashboard</a>
        <a href="/contact/">Contact</a>
    </nav>

    <div class="container">

        <h1>Contact Me</h1>

        <p>
            Name: Subhashree
        </p>

        <p>
            Field: AI/ML and Structural Health Monitoring
        </p>

        <p>
            GitHub:
            <a href="https://github.com/" target="_blank">
                My GitHub
            </a>
        </p>

        <p>
            LinkedIn:
            <a href="https://linkedin.com/" target="_blank">
                My LinkedIn
            </a>
        </p>

        <p>
            Email:
            subhashreeaich55@gmail.com
        </p>

    </div>

</body>

</html>